@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    font-family:'Comfortaa', cursive;
    background-color: #f7ecbb;
}

li {
    margin-right: 8px;
  }

.name-area {
    background-color: #a2c28c;
    border-radius: 10px;
    padding: 16px;
}

.list-area {
    background-color: #f8f6f8;
    border-radius: 10px;
}
.row {
    display: inline-flex;
}

.search-area {
    position: right;
}